[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
pyyaml = "*"
click = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
